@{
    Layout = "~/Views/Shared/_LayoutCocinero.cshtml";
}

@model _20212C_TP.Models.EventoViewModel

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Crear evento</h3>
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>Error!</strong> @ViewBag.error
                    </div>
                }
                @if (ViewBag.errorReceta != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <strong>Error!</strong> @ViewBag.errorReceta
                    </div>
                }
            </div>
            <div class="container">
                <div class="text-center text-muted mb-4">
                    <small>Complete con los datos del evento</small>
                </div>
                <form role="form" asp-controller="Cocineros" asp-action="Eventos" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                            </div>
                            <input asp-for="Nombre" class="form-control" placeholder="Ingrese su nombre" />
                        </div>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-album-2"></i></span>
                            </div>
                            <input asp-for="Fecha" class="form-control">
                        </div>
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                            </div>
                            <input asp-for="CantidadComensales" class="form-control" placeholder="Ingrese la cantidad de comensales">
                        </div>
                        <span asp-validation-for="CantidadComensales" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                            </div>
                            <input asp-for="Ubicacion" class="form-control" placeholder="Ingrese la ubicacion">
                        </div>
                        <span asp-validation-for="Ubicacion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-image"></i></span>
                            </div>
                            <input asp-for="Foto" class="form-control" placeholder="Ingrese una foto">
                        </div>
                        <span asp-validation-for="Foto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-money-coins"></i></span>
                            </div>
                            <input asp-for="Precio" class="form-control" placeholder="Ingrese el precio">
                        </div>
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-header bg-transparent border-0">
                                    <h3 class="mb-0">Eventos</h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">TiempoCoccion</th>
                                                <th scope="col">Descripcion</th>
                                                <th scope="col">Ingredientes</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.Recetas != null)
                                            {
                                                @foreach (var receta in ViewBag.Recetas)
                                                {
                                                    <tr>
                                                        <td>@receta.Nombre</td>
                                                        <td>@receta.TiempoCoccion</td>
                                                        <td>@receta.Descripcion</td>
                                                        <td>@receta.Ingredientes</td>
                                                        <td>
                                                            <input type="checkbox" class="valores" value="@receta.IdReceta">
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    @if (@Enumerable.Count(ViewBag.Recetas) == 0)
                                    {
                                        <h3 class="text-danger text-center">NO se encuentran recetas cargadas</h3>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="IdRecetas" value="" id="idRecetas" />

                    <div class="text-center">
                        <button type="submit" id="boton" class="btn btn-primary mt-4">Crear Evento</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/Eventos.js"></script>
