@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    var rutaFotoCocinero = "~/assets/img/cocinero.png";
}
<link type="text/css" href="/css/Perfil.css" rel="stylesheet">

@if (@TempData["MensajeAlert"] != null && @TempData["MensajeAlert"] !=null)
{
<div class="@TempData["ClaseAlert"]" role="alert">
    <strong>@TempData["MensajeAlert"]</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow bg-default">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image img-cocinero">
                        <a href="#">
                            <img src="@rutaFotoCocinero" asp-append-version="true" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4 bg-default">
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn btn-sm btn-info mr-4">Cocinero</a>
                    <a href="/Login/Logout" class="btn btn-sm btn-danger float-right">Cerrar sesion</a>
                </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
                <div class="row">
                    <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center mt-md-5 text-white">
                            <div>
                                <span class="heading">
                                    @if (ViewBag.Recetas != null)
                                    {
                                        @Enumerable.Count(ViewBag.Recetas)
                                    }
                                    else
                                    {
                                        <span>0</span>
                                    }
                                </span>
                                <span class="description">Recetas</span>
                            </div>
                            <div>
                                <span class="heading">
                                    @if (ViewBag.Eventos != null)
                                    {
                                        @Enumerable.Count(ViewBag.Eventos)
                                    }
                                    else
                                    {
                                        <span>0</span>
                                    }
                                </span>
                                <span class="description">Eventos</span>
                            </div>
                            <div>
                                <span class="heading">@ViewBag.Usuario.FechaRegistracion.Date.ToString("dd-MM-yyyy")</span>
                                <span class="description">Fecha de registro</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center text-white">
                    <h3 class="text-white">
                        @ViewBag.Usuario.Nombre
                    </h3>
                    <div>
                        @ViewBag.Usuario.Email
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-xl-8 order-xl-1">
        <div class="col">
            <div class="card bg-default shadow">
                <div class="card-header bg-transparent border-0">
                    <h3 class="text-white mb-0">Recetas</h3>
                    <a class="btn btn-danger" href="/Receta/Crear">Crear nueva receta</a>
                </div>
                <div class="table-responsive">
                    @if (ViewBag.Recetas != null)
                    {
                        <table class="table align-items-center table-dark table-flush">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">TiempoCoccion</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Ingredientes</th>
                                    <th scope="col">Tipo de Receta</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var receta in ViewBag.Recetas)
                                {
                                    <tr>
                                        <th scope="row">
                                            @receta.Nombre
                                        </th>
                                        <td>
                                            @receta.TiempoCoccion Minutos
                                        </td>
                                        <td>
                                            @receta.Descripcion
                                        </td>
                                        <td>
                                            @receta.Ingredientes
                                        </td>
                                        <td>
                                            @receta.IdTipoRecetaNavigation.Nombre
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    @if (@Enumerable.Count(ViewBag.Recetas) == 0)
                    {
                        <h3 class="text-danger text-center">NO se encuentran recetas cargadas</h3>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header pt-8 pb-4">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0 bg-default">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        @if (ViewBag.EventoProximo != null)
                                            @ViewBag.EventoProximo.Fecha
                                            else
                                            {
                                                <span> Fecha </span>
                                            }
                                    </h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">
                                        @if (ViewBag.EventoProximo != null)
                                            @ViewBag.EventoProximo.Nombre
                                            else
                                            {
                                                <span class="text-danger">NO se encuentran eventos cargados</span>
                                            }
                                    </span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="far fa-calendar-check"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2">
                                    @if (ViewBag.Reservas != null && ViewBag.EventoProximo != null)
                                    {
                                        @foreach (var reserva in ViewBag.Reservas)
                                        {
                                            if (ViewBag.EventoProximo.IdEvento == reserva.IdEvento)
                                            {
                                                ViewBag.Cont = ViewBag.Cont + reserva.CantidadComensales;
                                            }
                                        }<span>@ViewBag.Cont&nbsp; / &nbsp;@ViewBag.EventoProximo.CantidadComensales</span>
                                    }
                                    else
                                    {
                                        <span></span>
                                    }
                                </span>
                                <span class="text-nowrap">
                                    @if (ViewBag.EventoProximo != null)
                                    {
                                        <span>Cantidad de comensales</span>
                                    }
                                    else
                                    {
                                        <span></span>
                                    }
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                @{ViewBag.Cont = 0;}
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0 bg-default">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Lugar del evento</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">
                                        @if (ViewBag.EventoProximo != null)
                                            @ViewBag.EventoProximo.Ubicacion
                                            else
                                            {
                                                <span class="text-danger">NO se encuentran eventos cargados</span>
                                            }
                                    </span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2">
                                    @if (ViewBag.EventoProximo != null)
                                        @ViewBag.EventoProximo.Nombre
                                        else
                                        {
                                            <span></span>
                                        }
                                </span>
                                <span class="text-nowrap">
                                    @if (ViewBag.EventoProximo != null)
                                        @ViewBag.EventoProximo.Fecha
                                        else
                                        {
                                            <span></span>
                                        }
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0 bg-default">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Lugares Disponibles</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">
                                        @if (ViewBag.Reservas != null && ViewBag.EventoProximo != null)
                                        {
                                            @foreach (var reserva in ViewBag.Reservas)
                                            {
                                                if (ViewBag.EventoProximo.IdEvento == reserva.IdEvento)
                                                {
                                                    ViewBag.Cont = ViewBag.Cont + reserva.CantidadComensales;
                                                }
                                            }@(ViewBag.Cont = ViewBag.EventoProximo.CantidadComensales - ViewBag.Cont)
                                        }
                                        else
                                        {
                                            <span class="text-danger">NO se encuentran eventos cargados</span>
                                        }
                                    </span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2">
                                    @if (ViewBag.EventoProximo != null)
                                        @ViewBag.EventoProximo.Nombre
                                        else
                                        {
                                            <span></span>
                                        }
                                </span>
                                <span class="text-nowrap">
                                    @if (ViewBag.EventoProximo != null)
                                        @ViewBag.EventoProximo.Fecha
                                        else
                                        {
                                            <span></span>
                                        }
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                @{ViewBag.Cont = 0;}
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0 bg-default">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Recaudado</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">

                                        @if (ViewBag.Reservas != null && ViewBag.EventoProximo != null)
                                        {
                                            @foreach (var reserva in ViewBag.Reservas)
                                            {
                                                if (ViewBag.EventoProximo.IdEvento == reserva.IdEvento)
                                                {
                                                    ViewBag.Cont = ViewBag.Cont + reserva.CantidadComensales;
                                                }
                                            }<span>$@(ViewBag.Cont = ViewBag.Cont * ViewBag.EventoProximo.Precio)</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">NO se encuentran eventos cargados</span>
                                        }
                                    </span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2">
                                    @if (ViewBag.EventoProximo != null)
                                        @ViewBag.EventoProximo.Nombre
                                        else
                                        {
                                            <span></span>
                                        }
                                </span>
                                <span class="text-nowrap">
                                    @if (ViewBag.EventoProximo != null)
                                        @ViewBag.EventoProximo.Fecha
                                        else
                                        {
                                            <span></span>
                                        }
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                @{ViewBag.Cont = 0;}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card shadow bg-default">
            <div class="card-header bg-transparent border-0">
                <h3 class="mb-0 text-white">Eventos</h3>
            </div>
            <div class="table-responsive">
                @if (ViewBag.Eventos != null)
                {
                    <table class="table align-items-center table-dark table-flush">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Evento</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Cantidad de Comensales</th>
                                <th scope="col">Ubicacion</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Estado</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var evento in ViewBag.Eventos)
                            {
                                var rutaFoto = "~/assets/img/evento/" + (evento.Foto ?? "default.jpg");
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <img class="card-img img-evento-cocinero" src="@rutaFoto" asp-append-version="true" />

                                            <div class="media-body">
                                                <span class="mb-0 text-sm">&nbsp;&nbsp;&nbsp;@evento.Nombre</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        @evento.Fecha
                                    </td>
                                    <td>
                                        @if (ViewBag.Reservas != null)
                                        {
                                            @foreach (var reserva in ViewBag.Reservas)
                                            {
                                                if (evento.IdEvento == reserva.IdEvento)
                                                {
                                                    ViewBag.Cont = ViewBag.Cont + reserva.CantidadComensales;

                                                }
                                            }
                                            <span>  @ViewBag.Cont / @evento.CantidadComensales</span>
                                        }
                                        else
                                        {
                                            <span> 0 / @evento.CantidadComensales</span>
                                        }
                                    </td>
                                    <td>
                                        @evento.Ubicacion
                                    </td>
                                    <td>
                                        $ @evento.Precio
                                    </td>
                                    <td>
                                        @switch (@evento.Estado)
                                        {
                                            case (int)Servicios.Dominio.EstadoEvento.PENDIENTE:<span class="badge badge-dot">
                                                    <i class="bg-info"></i> Pendiente
                                                </span>
                                                break;
                                            case (int)Servicios.Dominio.EstadoEvento.CANCELADO:<span class="badge badge-dot">
                                                    <i class="bg-danger"></i> Cancelado
                                                </span>
                                                break;
                                            case (int)Servicios.Dominio.EstadoEvento.FINALIZADO:<span class="badge badge-dot">
                                                    <i class="bg-success"></i> Finalizado
                                                </span>
                                                break;
                                        }
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            @if (@evento.Estado == (int)Servicios.Dominio.EstadoEvento.PENDIENTE)
                                            {
                                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#evento-@evento.IdEvento">Cancelar Evento</a>
                                                </div>

                                                <div class="modal fade" id="evento-@evento.IdEvento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="alert alert-warning" role="alert">
                                                                    Estas seguro que deseas cancelar el evento @evento.Nombre ?
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                                <button type="button" class="btn btn-primary" onclick="cancelarEvento(@evento.IdEvento, @ViewBag.IdCocinero)">Confirmar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </td>
                                    @{ViewBag.Cont = 0;}
                                </tr>

                            }
                        </tbody>
                    </table>
                } @if (@Enumerable.Count(ViewBag.Eventos) == 0)
                {
                    <h3 class="text-danger text-center">NO se encuentran eventos cargados</h3>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/js/Eventos.js" asp-append-version="true"></script>